@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   width: 100%;
   max-height: 100vh;
   background-color: #0D0126;
}

header{
   width: 100%;
   height: 7vh;
   display: flex;
   align-items: center;
   padding: 5px 1%;
   border-bottom: 2px solid #F29849;
}

header h1{
   color: #F29849;
   font-size: 40px;
   font-family: 'Allerta Stencil', sans-serif;
   margin: 0;
   width: 15%;
}

nav{
   width: 85%;
   display: flex;
   justify-content: space-between;
}

#lista-navegacao{
   width: 60%;
   color: #fff;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin: 0;
   list-style: none;
}

#lista-login{
   width: 40%;
   color: #fff;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin: 0;
   list-style: none;
}

#lista-login li{
   display: flex;
   padding: 3px;
   align-items: center;
   justify-content: center;
   margin-right: 10px;
}

#lista-login img{
   margin-right: 5px;
}

#lista-login #seta{
   margin-right: 0;
}

#lista-navegacao li{
   display: flex;
   width: 15%;
   padding: 3px;
   align-items: center;
   justify-content: center;
}

#lista-navegacao li:hover{
   border: 1px solid #F29849;
   border-radius: 5px;
   cursor: pointer;
}

#lista-navegacao img{
   margin-right: 5px;
}

.cards{
   width: 100%;
   height: 350px;
   position: relative;
   bottom: 150px;
}

.carousel-item {
   display: none;
   width: 100%;
   height: 500px;
   justify-content: space-evenly;
   align-items: center;
   backface-visibility: hidden;
   flex-wrap: nowrap;
 }

 .carousel-item .image-title{
    height: 100%;
    width: 100%;
    filter:drop-shadow();
 }

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: flex;
}

.poster{
   width: 23%;
   height: 90%;
   margin: 5px;
   border-radius: 10px;
}

.posterBusca{
   width: 300px;
   height: 400px;
   margin: 5px;
   border-radius: 10px;
}

#resultBusca{
   width: 100%;
}

.imagens-busca{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
}

#home:hover{
   cursor: pointer;
}