@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   width: 100%;
   max-height: 100vh;
   background-color: #0D0126;
}

header{
   width: 100%;
   height: 7vh;
   display: flex;
   align-items: center;
   padding: 5px 1%;
   border-bottom: 2px solid #F29849;
}

header h1{
   color: #F29849;
   font-size: 40px;
   font-family: 'Allerta Stencil', sans-serif;
   margin: 0;
   width: 16%;
   position: absolute;
   left: 1%;
}

nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

#lista-navegacao{
   color: #fff;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin: 0;
   padding-left: 250px;
   list-style: none;
   width: 100%;
}

#lista-login{
   color: #fff;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin: 0;
   list-style: none;
   position: absolute;
   right: 1%;
}

#lista-login li{
   display: flex;
   padding: 3px;
   align-items: center;
   justify-content: center;
   margin-right: 10px;
}

#lista-login img{
   margin-right: 5px;
}

#lista-login #configuracao:hover{
   cursor: pointer;
}

#lista-login #seta{
   margin-right: 0;
}

#lista-navegacao li{
   display: flex;
   margin-right: 2%;
   padding: 5px;
   align-items: center;
   justify-content: center;
}

#lista-navegacao li:hover{
   border: 1px solid #F29849;
   border-radius: 5px;
   cursor: pointer;
}

#lista-navegacao img{
   margin-right: 5px;
}

main{
   width: 100%;
   height: 86vh;
   border-bottom: 2px solid #f29849;
   background-image: url('../img/backgroundHome.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
   flex-wrap: wrap;
 }

 #container-input{
    margin-top: 45px;
    color: #fff;
    font-size: 20px;
    font-family: Calistoga;
 }

 #inputBusca{
    padding: 5px;
    border-radius: 15px;
    width: 500px;
    text-align: center;
 }

 #resultadoBusca{
    width: 80%;
    height: 68vh;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    border: 2px solid #F29849;
    padding: 20px;
    overflow-y: scroll;
 }

::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px;
   border-radius: 10px;
   background: #F29849; 
   -webkit-box-shadow: inset 0 0 6px rgba(36, 36, 36, 0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #f298498a; 
}

 .imagens-busca{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

 }

 .posterBusca{
    width: 200px;
    height: 280px;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid #fff;
 }

@media (max-width: 1000px) {

   #container-input{
      margin-top: 25px;
   }

   header{
      height: 12vh;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding: 5px 1%;
      border-bottom: 2px solid #F29849;
   }
   
   header h1{
      color: #F29849;
      font-size: 30px;
      font-family: 'Allerta Stencil', sans-serif;
      margin: 0;
      width: 16%;
      position: absolute;
      left: 1%;
   }

   #lista-login{
      position: absolute;
      right: 1%;
      top: 1.7%;
   }
   
   #lista-navegacao{
      font-size: 12px;
      position: relative;
      top: 6vh;
      justify-content: center;
      padding-left: 0;
   }

   #lista-navegacao li img{
      width: 16px;
      height: 16px;
   }

   #lista-navegacao li{
      margin-right: 10px;
      
   }
   
   #lista-login li span{
      font-size: 14px;      
   }

   #lista-login li img{
      width: 18px;
      height: 18px;    
   }

   #itens-config{ 
      top: 12vh;
   }
}

@media (max-width: 700px) {

   header h1{
      color: #F29849;
      font-size: 30px;
      font-family: 'Allerta Stencil', sans-serif;
      margin: 0;
   }   

   #container-input{
      font-size: 16px;
   }
  
   #inputBusca{
      padding: 5px;
      border-radius: 15px;
      width: 300px;
      text-align: center;
   }
  
   #resultadoBusca{
      width: 90%;
      height: 60vh;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 15px;
      border: 2px solid #fff;
   }

}

@media (max-width: 500px) {
   
}