@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


* {
  padding: 0;
  margin: 0;
  
}

body {
  width: 100%;
  height: 100vh;
  background-color: #0d0126;
  
}

header {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  padding: 5px 1%;
  border-bottom: 2px solid #f29849;
  background-color: #0d0126;
}

header h1 {
  color: #f29849;
  font-size: 40px;
  font-family: "Allerta Stencil", sans-serif;
  margin: 0;
  width: 16%;
  position: absolute;
  left: 1%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#lista-navegacao {
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding-left: 250px;
  list-style: none;
  width: 100%;
}

#lista-navegacao li {
  display: flex;
  margin-right: 2%;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

#lista-navegacao li:hover {
  border: 1px solid #f29849;
  border-radius: 5px;
  cursor: pointer;
}

#lista-navegacao img {
  margin-right: 5px;
}

main{
  width: 100%;
  height: 86vh;
  border-bottom: 2px solid #f29849;
  background-image: url('../img/backgroundHome.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}

main img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

main p{
  color: #fff;
  font-size: 25px;
}

.container{
  width: 230px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.658);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 2px solid #fff;
  font-family: Calistoga;
}

.container:hover{
  border: 2px solid #f29849;
}

.logos{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.logos img{
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.logos img:hover{
  cursor: pointer;
}

footer {
  height: 7vh;
  border-top: 2px solid #f29849;
}

@media (max-width: 1300px){
  main{
    width: 100%;
    height: 86vh;
    border-bottom: 2px solid #f29849;
    background-image: url('../img/backgroundHome.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
  }
  
  main img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
    margin: 0;
    margin-right: 25px;
  }
  
  main p{
    color: #fff;
    font-size: 25px;
    margin: 0;
  }
  
  .container{
    width: 80%;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.658);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 25px;
    border: 2px solid #fff;
    font-family: Calistoga;
    position: relative;
    padding-left: 5%;
  }
  
  .container:hover{
    border: 2px solid #f29849;
  }
  
  .logos{
    position: absolute;
    right: 0;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .logos img{
    width: 40px;
    height: 40px;
    border-radius: 0;
  }
  
  .logos img:hover{
    cursor: pointer;
  }
}

@media (max-width: 600px) {

  header {
     height: 12vh;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     flex-direction: column;
     padding: 5px 1%;
     border-bottom: 2px solid #f29849;
  }

  header h1 {
     color: #f29849;
     font-size: 30px;
     font-family: "Allerta Stencil", sans-serif;
     margin: 0;
     width: 16%;
     position: absolute;
     left: 1%;
  }

  #lista-login {
     position: absolute;
     right: 1%;
     top: 1.7%;
  }

  #lista-navegacao {
     font-size: 12px;
     position: relative;
     top: 6vh;
     justify-content: center;
     padding-left: 0;
  }

  #lista-navegacao li img {
     width: 16px;
     height: 16px;
  }

  #lista-navegacao li {
     margin-right: 10px;
  }

  #lista-login li span {
     font-size: 14px;
  }

  #lista-login li img {
     width: 18px;
     height: 18px;
  }

  .container{
    width: 95%;
  }
}

@media (max-width: 500px) {
  main img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 15px;
    margin: 0;
    margin-right: 10px;
  }
  
  main p{
    color: #fff;
    font-size: 20px;
    margin: 0;
  }
  
  .container{
    width: 95%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.658);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 25px;
    border: 2px solid #fff;
    font-family: Calistoga;
    padding-left: 2%;
  }
  
  .logos{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    padding-right: 2%;
  }
}
