@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


* {
  padding: 0;
  margin: 0;
  
}

body {
  width: 100%;
  height: 100vh;
  background-color: #0d0126;
  
}

header {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  padding: 5px 1%;
  border-bottom: 2px solid #f29849;
  background-color: #0d0126;
}

header h1 {
  color: #f29849;
  font-size: 40px;
  font-family: "Allerta Stencil", sans-serif;
  margin: 0;
  width: 16%;
  position: absolute;
  left: 1%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#lista-navegacao {
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding-left: 250px;
  list-style: none;
  width: 100%;
}

#lista-navegacao li {
  display: flex;
  margin-right: 2%;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

#lista-navegacao li:hover {
  border: 1px solid #f29849;
  border-radius: 5px;
  cursor: pointer;
}

#lista-navegacao img {
  margin-right: 5px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/backgroundPagCadastro.png');
  background-size: cover;
  padding: 3% 0;
}


p {
  width: 90%;
  height: 100px;
  font-family: Calistoga;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: white;
  margin-top: 30px;
}

#formulário{
  background-color:rgba(15, 15, 15, 0.54);
  border-radius: 20px;
  width: 780px;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
 
}

label{
  font-family: 'Abel', sans-serif;
  color: white;
  font-size: 20px;
  margin-top: 5px;

}

#nomeInput {
  width: 186.23px;
  height: 26.08px;
  margin-top: 8px;

}

#emailInput {
  width: 186.23px;
  height: 26.08px;
  margin-top: 8px;

}

#senhaInput {
  width: 186.23px;
  height: 26.08px;
  margin-top: 8px;

}

#confirmaSInput {
  width: 186.23px;
  height: 26.08px;
  margin-top: 8px;

}

#cepInput {
  width: 186.23px;
  height: 26.08px;
  margin-top: 8px;

}

#ruaInput {
  width: 186.23px;
  height: 26.08px;
  margin-top: 8px;

}

#bairroInput {
  width: 186.23px;
  height: 26.08px;
  margin-top: 8px;

}

#complementoInput {
  width: 186.23px;
  height: 26.08px;
  margin-top: 8px;

}

#cidadeInput {
  width: 186.23px;
  height: 26.08px;
  margin-top: 8px;

}

#numeroInput {
  width: 93.11px;
  height: 26.08px;
  margin-top: 8px;
  flex-wrap: wrap;
  display: flex;

}


#estadoInput {
  width: 93.11px;
  height: 26.08px;
  margin-top: 8px;

}

.formGroupMargin {
  margin-bottom: 85px;
 
  
}

.formGroupMargin1 {
  margin-top: 13px;
 
  
}

footer {
  height: 10vh;
  border-top: 2px solid #f29849;

}

#btnCadastrar {
  width: 270px;
  height: 35px;
  color: white;
  background: #F29849;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  margin-top: 50px;
  margin-left: 85px;

}

#btnCadastrar:hover{
  background-color:#0d01268e ;
  border: 2px solid #F29849;
  color: #F29849;

}

#coluna1 {
  width: 230px;
  height: 420px;
  margin-left: 30px;
}

#coluna2 {
  width: 230px;
  height: 420px;
  margin-left: 50px;
  
}

#coluna3 {
  width: 230px;
  height: 420px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 50px;

}

#cadastroSucesso {
  display: none;
  width: 780px;
  height: 420px;
  font-family: Calistoga;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
  margin-top: 85px;
  
}

#erroCep {
  font-family: 'Abel', sans-serif;
  color: red;
  position:relative;
  left: 8px;
}

#erroEmail{

  font-family: 'Abel', sans-serif;
  color: red;
  position:relative;
  height: 0px;
  left: 8px;
  
}

#erroSenha{

  font-family: 'Abel', sans-serif;
  color: red;
  position:relative;
  height: 0px;
  left: 8px;

}

#erroSenha1{

  font-family: 'Abel', sans-serif;
  color: red;
  position:relative;
  height: 0px;
  left: 8px;

}

.form-group {

  margin-top: 15px;

}

