@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   width: 100%;
   max-height: 100vh;
   background-color: #0D0126;
}

header{
   height: 10vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 3%;
   border-bottom: 2px solid #F29849;
}

header h1{
   color: #F29849;
   font-size: 40px;
   font-family: 'Allerta Stencil', sans-serif;
   margin: 0;
}

header button{
   width: 174px;
   margin-left: 15px;
   padding: 5px 25px;
   border-radius: 5px;
   background-color: #F29849;
   border: 2px solid #fff;
   color: #fff;
   font-size: 18px;
}

header button:hover{
   border-color: #F29849;
   color: #F29849;
   background-color: #fff;
}

header button:active{
   background-color: #F29849;
   border: 2px solid #fff;
   color: #fff;
}

.title{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 3% 3%;
   height: 50vh;
   background-image: url("../img/backgroundHome.png");
   background-repeat: no-repeat;
   background-size: cover;
   object-fit: cover;
   border-bottom: 2px solid #F29849;
}

.title h1{
   color: #fff;
   font-family: 'Calistoga', cursive;
   font-size: 65px;
}

.title button{
   width: 265px;
   height: 40px;
   border-radius: 30px;
   background-color: #F29849;
   color: #fff;
   font-size: 18px;
   border: 2px solid #fff;
   margin-top: 2%;
}

.title button:hover{
   border-color: #F29849;
   color: #F29849;
   background-color: #fff;
}

.title button:active{
   background-color: #F29849;
   border: 2px solid #fff;
   color: #fff;
}

#cards{
   width: 100%;
   position: relative;
   bottom: 5vh;
}

.carousel-item {
   display: none;
   width: 100%;
   height: 43vh;
   justify-content: space-evenly;
   align-items: center;
   backface-visibility: hidden;
   flex-wrap: nowrap;
 }

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: flex;
}

.poster{
   width: 20%;
   height: 100%;
   margin: 5px;
   border-radius: 10px;
}

.posterBusca{
   width: 300px;
   height: 400px;
   margin: 5px;
   border-radius: 10px;
}

#resultBusca{
   width: 100%;
}

.imagens-busca{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
}

#home:hover{
   cursor: pointer;
}

@media (max-width: 1200px) {
   .title{
      border-bottom: none;
   }
   
   .title h1{
      font-size: 45px;
   }

   #cards{
      bottom: 10vh;
   }
}

@media (max-width: 1000px) {
   .poster{
      width: 31%;
   }
}

@media (max-width: 700px) {
   .title{
      border-bottom: none;
   }
   
   .title h1{
      font-size: 35px;
   }

   #cards{
      bottom: 10vh;
   }

   .poster{
      width: 30%;
      height: 100%;
      margin: 5px;
      border-radius: 10px;
   }

   .title button{
      width: 165px;
      height: 40px;
      border-radius: 30px;
      background-color: #F29849;
      color: #fff;
      font-size: 14px;
      border: 2px solid #fff;
      margin-top: 2%;
   }

   header h1{
      color: #F29849;
      font-size: 30px;
      font-family: 'Allerta Stencil', sans-serif;
      margin: 0;
   }
   
   header button{
      width: 100px;
      margin-left: 15px;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: #F29849;
      border: 2px solid #fff;
      color: #fff;
      font-size: 16px;
   }

}

@media (max-width: 500px) {
   .poster{
      width: 45%;
      height: 100%;
      margin: 5px;
      border-radius: 10px;
   }

   .title h1{
      margin-top: 10%;
      font-size: 25px;
   }

   .title button{
      width: 150px;
      height: 35px;
      border-radius: 30px;
      background-color: #F29849;
      color: #fff;
      font-size: 14px;
      border: 2px solid #fff;
      margin-top: 2%;
   }
}